.Appraisals-cbb-badge {
  color: white;
}

.Appraisals-cbb-complete {
  background-color: green;
}

.Appraisals-cbb-incomplete {
  background-color: red;
}

.Appraisals-cbb-not-bookable {
  background-color: purple;
}

.Appraisal-detail {
  padding: 1.5rem;
}

.Appraisal-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Appraisal-item-vehicle {
  font-weight: bold;
}

.Appraisal-item-vin {
  color: #757575;
}

.Appraisal-item-customer {
  padding: 1.0rem 0;
}

.Appraisal-item-detail {
  display: flex;
  justify-content: space-between;
}

.Appraisal-item-price {
  font-weight: bold;
}

.Appraisal-item-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.0rem;
}

.Appraisal-form {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.Appraisal-fab {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}

.Appraisal-sort-icon button {
  color: #fff !important;
}

.Appraisal-filters {
  padding: 0 1.0rem;
}

.Appraisal-List {
  display: flex;
  flex-flow: row wrap;
}

/* Hack for preventing the last child from growing */
.Appraisal-List::after {
  content: '';
  flex-grow: 1000000000;
}

.Appraisal-card {
  margin: 2px 0;
}

.Appraisal-card-flex {
  flex: 1 1 100%;
}

/* 2 per row  >= Tablet */
@media only screen and (min-width: 768px) {
  .Appraisal-card-flex {
    flex: 1 1 50%;
  }
}

/* 3 per row >= big screen*/
@media only screen and (min-width: 1400px) {
  .Appraisal-card-flex {
    flex: 1 1 33.33%;
    flex: 1 1 calc(100% / 3);
  }
}

.Appraisal-card-title {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.Appraisal-card-detail-item {
  display: flex;
  justify-content: space-between;
}
